.flex {
    display: flex;
}

.flex .item {
    width: 50%;
    text-align: center;
    overflow: hidden;
    padding: 10px;
}

.stacked {
    position: relative;
    height: 512px;
}

.stacked canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.stacked canvas:hover {
    opacity: 0;
}

.stacked img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    max-width: 512px;
    max-height: 512px;
}

.controls {
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
    background: #F0F0F0;
}

.controls::before {
    content: ' controls ';
    display: inline-block;
    position: relative;
    overflow: visible;
    top: calc(-2em + 3px);
    background: white;
    padding: 0 0.5em 3px;
    border: 1px solid black;
}

.controls label {
    margin: 0 1em;
}

input[type=range] {
    width: 50%;
    border: 1px solid black;
    background: #ccc;
    vertical-align: -5px;
}

fieldset {
    border: none;
}